<div class="row">
    <div class="col-3">
      <app-dashboard></app-dashboard>
    </div>
    <div class="col-9">
<div class = "card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">email</th>
        
          <th scope="col">phone</th>
          <th scope="col">Image</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users ; let i = index" >
          <th scope="row">{{i+1}}</th>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>

            <td>{{user.phone}}</td>
            <td><img src="{{user.image}}" alt="user image" width="60px" height="60px"></td>
            <td><button type="button" class="btn btn-danger" (click)="deleteUser(user._id)" >Delete</button>  &nbsp;&nbsp;</td>
   
         
        </tr>
      </tbody>


