<!--<body>
  <div class="layout">

    <a class="header" href="#0">

      <div class="header-user"><i class="fa fa-user-circle"></i>Hello Admin</div>
    </a>

    <div class="sidebar">
      <ul>
        <li> <a class="sidebar-list-item" routerLink="/dashboard"> <i class="fa fa-home"></i><em>Dashboard</em></a></li>
        <li> <a class="sidebar-list-item" routerLink="/map"> <i class="fa fa-edit"></i><em>Offers Update</em></a></li>
        <li> <a class="sidebar-list-item" routerLink="/offerList"> <i class="fa fa-list"></i><em>Offers List</em></a></li>
        <li> <a class="sidebar-list-item" routerLink="/offer"> <i class="fa fa-map-marker"></i><em>offers</em></a></li>
        <li> <a class="sidebar-list-item" routerLink="/userList"> <i class="fa fa-user"></i><em>Users list</em></a></li>
      </ul>
    </div>
  </div>
</body>-->



<header role="banner">
  <h1>Admin Panel</h1>
  <ul class="utilities">
    <br>
   
    <li><button  class="logoutbutton" (click)="logoutAdmin()">Log Out</button></li>
  </ul>
</header>

<nav role='navigation'>
  <ul class="main">
    <li class="same1"><a routerLink="/dashboard"> <h3><b>Dashboard</b></h3> </a></li>
    <li class="same1"><a routerLink="/shopList"> <i class="fa fa-list" style="font-size:20px;"></i> Shops</a></li>
    <li class="same1"><a routerLink="/map"> <i class="fa fa-edit" style="font-size:20px;"></i> Shop Add</a></li>
    <li class="same1"><a routerLink="/offer"> <i class="fa fa-map-marker" style="font-size:20px;"></i> Shop Locations</a></li>
    <li class="same1"><a routerLink="/offerList"> <i class="fa fa-list" style="font-size:20px;"></i> Offers</a></li>
    <li class="same1"><a routerLink="/promotionAdd"> <i class="fa fa-edit" style="font-size:20px;"></i> Offers Add</a></li>
    <li class="same1"><a routerLink="/userList"> <i class="fa fa-user" style="font-size:20px;"></i> Users</a></li>
  </ul>




</nav>














